@charset "UTF-8"; /* Define codificação para aceitar acentos */

/* 
Pequenas telas: até 600px            
Celular: de 600px até 728px          
Tablet: 768px até 992px             
Desktop: 992px até 1200px            
Grandes telas: acima de 1200px 
*/


/*Tablet*/
@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        width: 100vw;
        height: 100vh;
        background-color: #EDEFF2;
        background-image: url(../img/background-tablet.jpg);
        background-size: cover; /*faz a imagem cobrir tudo*/
        background-repeat: no-repeat;
        background-position: center center; /*centraliza*/
    }

    footer{
        background-color: rgba(22, 22, 22, 0.247)
    }
}

/*Desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        width: 100vw;
        height: 100vh;
        background-image: url(../img/background-desktop.jpg);
        background-repeat: no-repeat; /*não repete a imagem*/
        background-size: cover;
        background-position: center center;
    }

    .responsive-table{
    width: 70vw; /*faz a tabela ocupa 70% da largura da tela*/
    }

    footer{
        background-color: rgba(22, 22, 22, 0.247)
    }

}

/*Grandes telas*/
@media screen and (min-width: 1200px) {
    body{
        width: 100vw;
        height: 100vh;
        background: url(../img/background-desktop.jpg);
        background-repeat: repeat;
        background-size: cover;
        background-position: center center;
    }

    .responsive-table{
    width: 70vw; /*faz a tabela ocupa 70% da largura da tela*/
    }

    footer{
        background-color: rgba(22, 22, 22, 0.247)
    }


}
