@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    color: black;
    background-image: url(../img/background-mobile.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
}


main{
    text-align: center;
    padding: 10px;
}


.campo{
    margin: 10px;
}

/*tamanho dos inputs titulo e descrição da tarefa*/
.campo > input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
} 

textarea {
    resize: none; /*bloqueia o movimento do textarea*/
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;
}



button {
    border: none;
    width: 95px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
    margin-left: 3px;
}

button:hover{
    background-color: gray;   
}

.buscar-tarefa{
    padding: 10px;
}

.buscar-tarefa > input{
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
}

/*cor da letra e padding da tabela*/
.tabela > thead > tr > th{
    color: black;
    padding: 10px;
}

/*deixa a tabela responsiva*/
.responsive-table{
    width: 100%;
    margin: auto;
    overflow-x: auto;
    background-color: rgba(128, 128, 128, 0.308);
    border-radius: 10px;
    margin-top: 10px;
}


/*Faz os titulos da tabela ficar centralizado*/
table{
    margin: auto; /*centraliza a tabela*/
}