@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /*faz padding e border não aumentarem o tamanho total*/
}

body{
    display: flex; /*ativa flexbox*/
    flex-direction: column; /*organiza elementos em coluna*/
    min-height: 100vh; /*altura mínima da tela inteira*/

    width: 100vw;
    background-color: #D9D8DC;
    color: black;
    background-image: url(../img/background-mobile.jpg); /*imagem de fundo*/
    background-repeat: no-repeat; /*evita repetição da imagem*/
    background-size: cover; /*faz imagem cobrir toda a tela*/
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

main{
    display: flex; /*usei flex pra organizar o conteúdo*/
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1; /*faz o main crescer e ocupar o espaço*/

    text-align: center; /*centraliza o texto*/
    padding: 10px;
    border-radius: 20px; /*deixa as bordas arredondadas*/
}

h1, p{
    color: rgb(0, 0, 0);
    font-weight: bold; /*deixei em negrito*/
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8); /*sombra pra destacar*/
    transition: 0.2s;
}

/*quando passa o mouse muda a cor*/
.task:hover, .slogan:hover{
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

/*espaço entre os campos titulo tarefa e descrição*/
.campo{
    margin: 10px;
}

/*tamanho dos inputs titulo e descrição da tarefa*/
.campo > input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
} 

textarea {
    resize: none; /*bloqueia o movimento do textarea*/
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;
}

button {
    border: none;
    width: 95px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
    margin-left: 3px;
}

/*muda a cor do botão quando passar o mouse*/
button:hover{
    background-color: yellow;
    color: black;
    transition: 0.3s; /*animação*/
    transform: scale(1.05); /*da um leve zoom*/
}

.buscar-tarefa{
    display: flex; /*usei flex pra alinhar */
    justify-content: center; /*centraliza na horizontal */
    align-items: center; /*centraliza na vertical*/

    padding: 10px; /*espaço interno*/
}

.buscar-tarefa > input{
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
}

/*cor da letra e padding da tabela*/
.tabela > thead > tr > th{
    color: rgb(0, 0, 0);
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
}


td:last-child {
    display: flex; /*usei flex pra alinhar os botões*/
    justify-content: center;
    gap: 5px;
}

/*deixa a tabela responsiva*/
.responsive-table{
    width: 100%;
    margin: auto;
    overflow-x: auto; /*permite rolar se ficar grande*/
    background-color: rgba(128, 128, 128, 0.781);
    border-radius: 10px;
    margin-top: 10px; /*espaço acima*/
}


/*Faz os titulos da tabela ficar centralizado*/
table{
    margin: auto; /*centraliza a tabela*/
}

footer{
    display: flex;
    justify-content: center;

    padding: 5px;
    color: black;
    font-size: 15px;
}

footer a {
    text-decoration: none; /*tira o sublinhado*/
    font-weight: bold;
    color: black;
}

footer a:hover{
    text-decoration: none;
    color: #EACC27; /*muda cor quando passa o mouse*/
    transition: 0.2s; /*animação suave*/
}